*{
    margin: 0;
    padding: 0;
    box-sizing:border box;
    font-family: 'poppins';
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:rgb(100,50,90);
}
.wrapper{
background: white;
width: 350px;
border-radius: 7px;
padding: 30px;
}
.wrapper header{
    font-size: 28px;
    font-weight: 600px;
    text-align:center;
}
.wrapper form{
    margin:40px 0 20px 0;
}
form:where(input,select,button){
    width:200%;
    outline: none;
    border: none;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input{
    height: 50px;
    padding: 0 15px;
    font-size: 17px;
    border: 1px solid #999;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #675afe;
}
form .drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-list.select-box{
    display: flex;
    justify-content: center;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 1px solid #999;
    border-radius: 5px;
}
.select-box select{
    width:auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box img{
    max-width: 25px;
}
.drop-list.icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}
form .exchange-rate{
    font-size:10px;
    margin: 10px 0 20px;
}
form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor:pointer;
    background: rgb(100,50,90);
}